@import '../../common/stylus/variable'
@import '../../common/stylus/mixin'
.play
  .head
    position relative
    height 450rpx
    text-align center
    overflow hidden
    &_img
      pos-center()
      width 100%