@import '../../common/stylus/variable'
@import '../../common/stylus/mixin'
.singer
  .at-tabs__item
    &--active
      color $color-theme
    &:after
      background-color $color-theme
  &-list
    .item
      background #fff
      display flex
      justify-content space-between
      align-items center
    .rank
      flex 0 0 100rpx
    .avatar
      flex 0 0 120rpx
    .name
      flex 1
