@import '../../common/stylus/variable'
@import '../../common/stylus/mixin'
.my-info-wrapper
  position relative
  background $color-theme
  height 200rpx
  .my-info
    position absolute
    background $color-text-ll
